.foodsContainer {
  margin: 55px 20px 20px 20px;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer button {
  border: 0;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: rgba(170, 170, 170, 0.555);
  font-weight: 500;
}
