.foodContainer {
  margin: 35px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media only screen and (max-width: 576px) {
  .foodContainer {
    grid-template-columns: 1fr;
  }
}
